<!DOCTYPE html>
<html>
  <head>
    <title>WhereDoWeEat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%# <%= javascript_pack_tag 'welcome' I DONT KNOW WHY THIS DOESNT WORK %> 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
